logs
project/project
project/target
target
tmp
.history
public/dist/*.js*
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
node_modules
wiki
.DS_Store
*.log
account.conf
conf/ssl
*.keystore

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
secret.conf
SecretUtilObj.scala
docs/certs
docs/backup
release*.sh
tryScala.sc
